<a href="https://colab.research.google.com/github/arunshi01/Assignment-Logistic-Regression/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to SQL and Advanced Functions | Assignment**

1) Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.

i) DDL (Data Definition Language)
DDL commands are used to define the database structure or schema. They affect the objects that hold the data, not the data itself.

Key Operations: Creating, altering, and dropping tables, indexes, views, and schemas.

Example: CREATE This command is used to create a new table named Employees.
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);

ii) DML (Data Manipulation Language)
DML commands are used to manage data within schema objects. They deal with the content of the tables.

Key Operations: Inserting new rows, updating existing rows, and deleting rows.

Example: INSERT This command is used to add a new row (record) of data into the Employees table.

INSERT INTO Employees (EmployeeID, FirstName, LastName, DepartmentID)
VALUES (101, 'Alice', 'Smith', 1);

3. DQL (Data Query Language)
DQL commands are used to retrieve data from the database. It is often considered a subset of DML, but its distinct and vital role in data retrieval warrants its own category.

Key Operations: Selecting and retrieving data.

Example: SELECT This command is used to fetch all columns (*) and all rows from the Employees table.

SELECT * FROM Employees;

2) What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.

The primary purpose of SQL constraints is to enforce data integrity in a database.

Constraints are rules applied to columns in a table to limit the type of data that can be inserted, updated, or deleted. They ensure that the data is accurate, reliable, and consistent.
-Three Common Types of SQL Constraints

1. PRIMARY KEY
Uniquely identifies every record in a table. It must contain unique values and cannot contain NULL values (it implies both UNIQUE and NOT NULL). A table can have only one Primary Key.

2. FOREIGN KEY
A field (or collection of fields) in one table that refers to the Primary Key of another table. It enforces the link between two tables, ensuring that you cannot create a record in the "child" table if there is no corresponding record in the "parent" table.

3. UNIQUE
Ensures that all values in a column are unique. Unlike a Primary Key, a table can have multiple UNIQUE constraints, and a column with a UNIQUE constraint can accept NULL values (though only one NULL is usually allowed, depending on the database system).

3) Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page has 10 records?

LIMIT- Specifies the maximum number of rows to return in the result set. It Caps the total number of records returned.

OFFSET- Specifies the number of rows to skip from the beginning of the result set before starting to return the rows. It	Shifts the starting point of the results.

LIMIT determines how many rows you get, and OFFSET determines where you start counting those rows.

Retrieving the Third Page of Results
To retrieve the third page of results, assuming a page size of 10 records, you need to calculate how many records must be skipped (the OFFSET) before starting the desired page.
1. Determining the Parameters
-Page Size (LIMIT): The number of records per page is 10.
-Desired Page: Page 3.
-Records to Skip (OFFSET): You must skip all records from the preceding pages 2)2)
SQL QUERY- You would use an OFFSET of 20 to skip the first two pages (20 records) and a LIMIT of 10 to return the next 10 records, which constitutes the third page.

SQL-- Retrieve records 21 through 30 (the third page)
SELECT *
FROM YourTable
ORDER BY YourSortingColumn -- Crucial: Pagination requires a stable sort order
LIMIT 10      -- Get 10 records (the page size)
OFFSET 20;    -- Skip the first 20 records (pages 1 and 2)

4) What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.

A Common Table Expression (CTE) in SQL is a temporary, named result set defined within the scope of a single SQL statement (such as SELECT, INSERT, UPDATE, or DELETE).

It acts like a temporary view that only exists for the duration of that one query. It's defined using the WITH clause, which precedes the main query.

BENEFITS-
-Improved Readability and Organization
-Reusability within the Query
-Handling Recursive Queries
-Substitution for Views

Example-
-- 1. Start the CTE definition using the WITH clause
WITH EmployeeSalesSummary AS (
    -- Define the CTE's SELECT statement
    SELECT
        EmployeeID,
        SUM(SaleAmount) AS TotalSales
    FROM
        Sales
    -- Group the sales data by employee
    GROUP BY
        EmployeeID
)

-- 2. Main query references the CTE like a normal table
SELECT
    E.FirstName,
    E.LastName,
    S.TotalSales
FROM
    Employees E
JOIN
    EmployeeSalesSummary S ON E.EmployeeID = S.EmployeeID
-- Filter the final result based on the calculated summary
WHERE
    S.TotalSales > 500;

5) Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).

SQL Normalization is a systematic process of organizing the columns and tables of a relational database to minimize data redundancy and improve data integrity.

Primary Goals of Normalization
-Eliminate Data Redundancy: This is the core goal. Storing the same piece of information in multiple places wastes space and makes updates risky. Normalization ensures that a piece of information is stored in only one place.

-Ensure Data Integrity: By eliminating redundancy, normalization ensures that data changes only need to be made in one place, preventing inconsistencies (e.g., if a customer's address is stored in three tables and only two are updated).

-Minimize Data Anomalies: Anomalies are problems that arise when updating, inserting, or deleting data in a poorly structured database.

1. First Normal Form (1NF)
The table must meet the basic requirements of a relational database:

Atomic Values: Every column in a row must contain only one single value (no repeating groups or multi-valued attributes like a comma-separated list of phone numbers in one field).

Unique Rows: Each row must be unique, typically enforced by a Primary Key.

2. Second Normal Form (2NF)
To be in 2NF, a table must:

Be in 1NF.

No Partial Dependency: All non-key attributes (columns that are not part of the Primary Key) must be fully dependent on the entire Primary Key. If the Primary Key is composite (made of two or more columns), no non-key attribute can depend on only part of that key.

Example: In a table with a composite key of (OrderID, ProductID), if the ProductName only depends on ProductID (part of the key), it violates 2NF. To fix it, you move ProductID and ProductName to a separate Products table.

3. Third Normal Form (3NF)
To be in 3NF, a table must:

Be in 2NF.

No Transitive Dependency: No non-key attribute should depend on another non-key attribute. In other words, non-key columns should only be dependent on the Primary Key, and nothing else.

Question 6 : Create a database named ECommerceDB and perform the following
tasks:
1. Create the following tables with appropriate data types and constraints:

CREATE DATABASE IF NOT EXISTS ECommerceDB;
USE ECommerceDB;

-- ---------------------------------------------
-- Task 2: Create Tables (DDL Commands)
-- ---------------------------------------------

-- 1. Categories Table: Defines product groups
CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

-- 2. Products Table: Defines individual products
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL UNIQUE,
    CategoryID INT,
    Price DECIMAL(10, 2) NOT NULL,
    StockQuantity INT,
    -- Foreign Key Constraint linking Products to Categories
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

-- 3. Customers Table: Stores user information
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) UNIQUE,
    JoinDate DATE
);

-- 4. Orders Table: Stores transaction summaries
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10, 2),
    -- Foreign Key Constraint linking Orders to Customers
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

-- ---------------------------------------------
-- Task 3: Insert Records (DML Commands)
-- ---------------------------------------------

-- Insert into Categories
INSERT INTO Categories (CategoryID, CategoryName) VALUES
(1, 'Electronics'),
(2, 'Books'),
(3, 'Home Goods'),
(4, 'Apparel');

-- Insert into Products
INSERT INTO Products (ProductID, ProductName, CategoryID, Price, StockQuantity) VALUES
(101, 'Laptop Pro', 1, 1200.00, 50),
(102, 'SQL Handbook', 2, 45.50, 200),
(103, 'Smart Speaker', 1, 99.99, 150),
(104, 'Coffee Maker', 3, 75.00, 80),
(105, 'Novel : The Great SQL', 2, 25.00, 120),
(106, 'Wireless Earbuds', 1, 150.00, 100),
(107, 'Blender X', 3, 120.00, 60),
(108, 'T-Shirt Casual', 4, 20.00, 300);

-- Insert into Customers
INSERT INTO Customers (CustomerID, CustomerName, Email, JoinDate) VALUES
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10'),
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25'),
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01'),
(4, 'Diana Prince', 'diana@example.com', '2021-04-26');

-- Insert into Orders
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES
(1001, 1, '2023-04-26', 1245.50),
(1002, 2, '2023-10-12', 99.99),
(1003, 1, '2023-07-01', 145.00),
(1004, 3, '2023-01-14', 150.00),
(1005, 2, '2023-09-24', 120.00),
(1006, 1, '2023-06-19', 20.00);

-- ---------------------------------------------
-- Verification Step (DQL Command)
-- ---------------------------------------------
-- You can run these SELECT statements to verify the data was inserted correctly.

SELECT 'Categories Data' AS TableName;
SELECT * FROM Categories;

SELECT 'Products Data' AS TableName;
SELECT * FROM Products;

SELECT 'Customers Data' AS TableName;
SELECT * FROM Customers;

SELECT 'Orders Data' AS TableName;
SELECT * FROM Orders;

7)) Generate a report showing CustomerName, Email, and the
TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results by CustomerName.

-- DQL Command to generate the report

SELECT
    C.CustomerName,
    C.Email,
    -- Count the number of OrderIDs associated with the customer.
    -- The COUNT(O.OrderID) is used instead of COUNT(*) because COUNT(column)
    -- only counts non-NULL values. For customers with no orders (from the LEFT JOIN),
    -- O.OrderID will be NULL, resulting in a count of 0.
    COUNT(O.OrderID) AS TotalNumberofOrders
FROM
    Customers C
-- Use LEFT JOIN to include ALL customers (from the "left" table)
-- regardless of whether they have a matching order in the "right" table (Orders).
LEFT JOIN
    Orders O ON C.CustomerID = O.CustomerID
-- Group the results by customer details to allow the COUNT function to work per customer
GROUP BY
    C.CustomerID, C.CustomerName, C.Email
-- Order the final results alphabetically by customer name
ORDER BY
    C.CustomerName;


i)SELECT C.CustomerName, C.Email, COUNT(O.OrderID) AS TotalNumberofOrders: Selects the required customer details and calculates the count of orders. By counting O.OrderID, which will be NULL for unmatched customers (those without orders), we automatically get a count of 0 in those cases.

ii(FROM Customers C LEFT JOIN Orders O ON C.CustomerID = O.CustomerID: This is the most crucial part. The LEFT JOIN ensures that every row from the Customers table (the "left" table, alias C) is returned. If a customer has no orders, the columns from the Orders table (alias O) will be NULL.

iii)GROUP BY C.CustomerID, C.CustomerName, C.Email: Aggregates the results so that the COUNT function can correctly tally the orders for each unique customer.

Iv)ORDER BY C.CustomerName: Sorts the final output alphabetically by the customer's name

8)  Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically.


-- DQL Command to retrieve product and category information

SELECT
    P.ProductName,
    P.Price,
    P.StockQuantity,
    C.CategoryName
FROM
    Products P
-- INNER JOIN links Products to Categories using the CategoryID foreign key
INNER JOIN
    Categories C ON P.CategoryID = C.CategoryID
-- Order the results first by Category Name (alphabetically)
ORDER BY
    C.CategoryName ASC,
    -- Then, order by Product Name within each category (alphabetically)
    P.ProductName ASC;

9) Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.

-- DQL Command using CTE and Window Function for Top N per Group

WITH RankedProducts AS (
    SELECT
        C.CategoryName,
        P.ProductName,
        P.Price,
        -- Assign a unique sequential rank number to each product within a category.
        -- PARTITION BY C.CategoryName resets the ranking for each new category.
        -- ORDER BY P.Price DESC ensures the highest price gets rank 1.
        ROW_NUMBER() OVER (
            PARTITION BY C.CategoryName
            ORDER BY P.Price DESC
        ) AS PriceRank
    FROM
        Products P
    INNER JOIN
        Categories C ON P.CategoryID = C.CategoryID
)
-- Select the final result set
SELECT
    CategoryName,
    ProductName,
    Price
FROM
    RankedProducts
-- Filter the CTE results to include only the top 2 ranked products (Rank 1 and 2)
WHERE
    PriceRank <= 2
ORDER BY
    CategoryName ASC,
    Price DESC;

10) You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.
Using the Sakila database, answer the following business questions to support key strategic initiatives.
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.


-- SAKILA VIDEO RENTALS ANALYTICS REPORT
-- =================================================================

-- 1. Identify the top 5 customers based on the total amount they’ve spent.
--    (Customer name, email, and total amount spent.)
SELECT
    C.first_name,
    C.last_name,
    C.email,
    SUM(P.amount) AS total_amount_spent
FROM
    customer C
JOIN
    payment P ON C.customer_id = P.customer_id
GROUP BY
    C.customer_id, C.first_name, C.last_name, C.email
ORDER BY
    total_amount_spent DESC
LIMIT 5;


-- 2. Which 3 movie categories have the highest rental counts?
--    (Category name and number of times movies from that category were rented.)
SELECT
    T2.name AS category_name,
    COUNT(T1.rental_id) AS rental_count
FROM
    rental T1
JOIN
    inventory T3 ON T1.inventory_id = T3.inventory_id
JOIN
    film_category T4 ON T3.film_id = T4.film_id
JOIN
    category T2 ON T4.category_id = T2.category_id
GROUP BY
    T2.name
ORDER BY
    rental_count DESC
LIMIT 3;